*{
	box-sizing: border-box;
}
body {
	margin: 0;
}
.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0 4px;
}
/* create 3 equal columns next to each other */

.column {
	-ms-flex: 25%;
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}
.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}

/* Responsive layout */
@media screen and (max-width: 800px)
{
	.column {
		-ms-flex: 50%;
		flex: 50%;
		max-width: 50%;
	}
}
html {
	background-color: rgb(63, 58, 58);
}

/* Responsive layout makes two columns stack */
@media screen and (max-width: 600px)
{
	.column {
		-ms-flex: 100%;
		flex: 100%;
		max-width: 100%;
	}
}
.logo {
	text-align: center;
	color: white;
	background-color: rgb(229, 157, 169);
	width: 100%;
	border: 15px solid rgb(110, 102, 102);
	padding: 30px;
	margin: 20px;
}
h1 {
	font-family: 'Playfair Display', serif;
	font-size: 80px;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
}
.font {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: white;
	text-align: center;
	padding: 0 4px;
}